<!DOCTYPE html>
<html>
<head>
    <title>About </title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
        {{>header}}
        {{errorMessage}}
        {{>footer}}
</body>


</html>