<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    {{>header}}

    <p>This site uses data from mapbox.com and darksky.com api </p>
    {{>footer}}
</body>


</html>