<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    {{!-- <link rel="icon" class="fas fa-cloud-sun"> --}}
    <link rel="stylesheet" href="/styles/styles.css">
   
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>{{welcomeMessage}}</p>

        <form id="search_id">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="error_id"></p>
        <p id="location_id"></p>
        <p id="forcast_id"></p>
    </div>
      

    {{>footer}}
 <script src="/scripts/app.js"></script>
</body>


</html>